// ---Footer fixing
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
// ---

footer {
    background-color: rgba(0, 78, 17, 0.4);
    h1 {
        font-size: 24px;
        margin-left: 20px;
    }
}
